/* Layouts */
/* -------------------------------------------------------- */

#header{
	position: relative;
	float: left;
	width: 100%;
	z-index: 80;	
}

#container{
	width: 984px;
	margin: 0px auto 10px auto;
	padding: 0px 0px 0px 0px;
}

#body{
	float: left;
	width: 984px;
	z-index: 0;	
}

#footer{
	float: left;
	width: 984px;
}

/* Popup */
/* -------------------------------------------------------- */

#popup{
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 99999999;
}

#popup div.bck{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .75;
	top: 0px;
	left: 0px;
	z-index: 0;
	background-color: #000000;
}

#popup div.inr{
	position: relative;
	width: 400px;
	margin: 100px auto 0px auto;
	z-index: 1;
	overflow: auto;
	background-color: #FFFFFF;
	border: 4px solid #C8C8C8;
}

#popup div.inr h3{
	float: left;
	width: 100%;
	color: #CC0002;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	text-indent: 9px;
	background: #FFFFFF url('Images/hdr.crn.gif') repeat-x 0px -172px;
	border-bottom: 1px solid #C8C8C8;
}

#popup div.inr a{
	float: right;
	margin: -21px 9px 0px 0px;
	font-weight: bold;
}

#popup div.inr b{
	margin: 1px 6px 0px 0px;
}

#popup div.img{
	float: left;
	width: 100%;
	width: 600px;
}

#popup div.scr{
	float: left;
	width: 100%;
	height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}

#popup div.scr iframe{
	float: left;
}

#popup div.mdl{
	position: relative;
	width: 297px;
	height: 572px;
	margin: 50px auto 0px auto;
	padding: 20px 20px 20px 20px;
	overflow: hidden;
	background: transparent url('Images/bck.ppl.png');
	z-index: 1;
}

/* Banner */
/* -------------------------------------------------------- */

#banner{
	float: left;
	width: 100%;
	background-color: #FFFFFF;
	border-bottom: 1px solid #DFDFDF;
}

#banner div.inr{
	width: 980px;
	margin: 0px auto 0px auto;
	background-color: #FFFFFF;
}

#banner div.inr div, #banner div.inr iframe{
	margin: 0px auto 0px auto;
}

/* Containers */
/* -------------------------------------------------------- */

.cnt-man{
	float: left;
	width: 993px;
	margin-left: -9px;
}

.cnt-top{
	display: inline;
	float: left;
	width: 984px;
	margin: 0px 0px 0px 9px;
}

.cnt-lft{
	display: inline;
	float: left;
	width: 621px;
	margin: 0px 0px 0px 9px;
}

.cnt-rgt{
	display: inline;
	float: left;
	width: 354px;
	margin: 0px 0px 0px 9px;
}

.cnt-man h2{
	display: none;
}

.inr-top{
	float: left;
}

.inr-btm{
	float: left;
	padding: 0px 0px 9px 0px;
}

.inr-btm-lft{
	float: left;
	width: 301px;
}

.inr-btm-rgt{
    display: inline;
	float: left;	
	width: 284px;
	margin-left: 18px;
}

.inr-lft{
	float: left;
	width: 301px;
	padding: 0px 0px 2px 0px;
}

.inr-rgt{
	display: inline;
	float: left;
	width: 303px;
	margin: 0px 0px 0px 17px;
	padding: 0px 0px 2px 0px;
}

/* Banner */
/* -------------------------------------------------------- */

div.bnr{
	display: inline;
	float: left;
	background-color: #DADADA;
}

div.bnr-pup{
	position: relative;
	float: right;
	z-index: 999;
	margin-top: -129px;
	margin-right: 10px;
	background-color: #FFFFFF;
	z-index: 9999999;
}

div.bnr-pup div.inr{
	position: absolute;
	float: left;
	width: 980px;
	margin-left: -980px;
	z-index: 9999999;
}

div.bnr-txt{
	position: absolute;
	float: left;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: transparent;
}

div.bnr-txt div.inr{
	margin: 0px 11px 0px 111px;
	text-align: center;
}

div.bnr-hdl{
	float: right;
	width: 265px;
	margin-top: 9px;	
	padding-bottom: 9px;
	background-color: #FFFFFF;
}

div.bnr-hdc{
	float: left;
	width: 301px;
	margin-top: 18px;
	margin-left: 9px;
	text-align: center;
	background-color: #FFFFFF;
}

div.bnr-hdc *{
	margin: 0px auto 0px auto;
}

div.bnr-spt{
	width: 280px;
	height: 110px;
	margin-top: 18px;
	padding-left: 3px;
	padding-bottom: 9px;
	background-color: #FFFFFF;
}

div.bnr-lft{
	width: 550px;
	padding: 0px 0px 0px 26px;
	margin-left: 9px;
	background-color: #FFFFFF;
}

div.bnr-lft div{
	margin: 0px auto 0px auto;
}

div.bnr-rgt{
	width: 300px;
	padding: 18px;
	margin-left: 9px;
}

div.bnr-rgt div{
	background-color: #FFFFFF;
}

div.bnr-nws{
	width: 585px;
	margin-top: 18px;
	background-color: #FFFFFF;
}

div.bnr-nws div{
	margin: 0px auto 0px auto;
}

div.bnr-ibx{
	width: 300px;
	padding: 9px 18px 9px 18px;
	background-color: #FFFFFF;
}

div.bnr-adn{
	width: 583px;
	padding: 9px;
	margin-left: 9px;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
}

div.bnr-adn b.ttl{
	 font-size: 10px;
}

/* Header */
/* -------------------------------------------------------- */

b.hdr{
	display: inline;
	float: left;
	overflow: hidden;
	text-indent: -999px;
	background-repeat: no-repeat;
	background-image: url('Images/hdr.gif');
}

b.hdr-spr{
	width: 260px;
	height: 20px;
	background-position: 0px 0px;
}

b.hdr-ecn{
	width: 260px;
	height: 20px;
	background-position: 0px -20px;
}

b.hdr-blg{
	width: 260px;
	height: 20px;
	background-position: 0px -40px;
}

b.hdr-irp{
	width: 336px;
	height: 32px;
	background-position: 0px -102px;
}

b.hdr-cmt{
	width: 150px;
	height: 26px;
	background-position: 0px -154px;
}


b.hdr-edt{
	width: 46px;
	height: 12px;
	background-position: 0px -180px;
}

/* Button */
/* -------------------------------------------------------- */

a.btn{
	display: inline;
	cursor: pointer;
	float: left;
	overflow: hidden;
	text-indent: -999px;
	background-repeat: no-repeat;
	background-image: url('Images/btn.gif?ver=6');
}

a.btn-src{
	width: 66px;
	height: 22px;
	background-position: 0px 0px;
}

a.btn-srm{
	width: 50px;
	height: 22px;
	background-position: 0px -22px;
}

a.btn-srs{
	width: 23px;
	height: 23px;
	background-position: 0px -67px;
}

a.btn-srt{
	width: 30px;
	height: 23px;
	background-position: 0px -44px;
}

a.btn-sry{
	width: 43px;
	height: 17px;
	background-position: 0px -90px;
}

a.btn-b01{
	width: 138px;
	height: 39px;
	background-position: 0px -494px;
}

a.btn-b02{
	width: 138px;
	height: 39px;
	background-position: 0px -533px;
}

a.btn-b03{
	width: 138px;
	height: 39px;
	background-position: 0px -572px;
}

a.btn-b04{
	width: 138px;
	height: 39px;
	background-position: 0px -611px;
}

a.btn-b05{
	width: 131px;
	height: 39px;
	background-position: 0px -338px;
}

a.btn-b06{
	width: 131px;
	height: 39px;
	background-position: 0px -377px;
}

a.btn-b07{
	width: 131px;
	height: 39px;
	background-position: 0px -416px;
}

a.btn-b08{
	width: 131px;
	height: 39px;
	background-position: 0px -455px;
}

a.btn-b09{
	width: 131px;
	height: 39px;
	background-position: 0px -1505px;
}

a.btn-b10{
	width: 131px;
	height: 39px;
	background-position: 0px -1544px;
}

a.btn-b11{
	width: 131px;
	height: 39px;
	background-position: 0px -1583px;
}

a.btn-b12{
	width: 131px;
	height: 39px;
	background-position: 0px -1622px;
}

a.btn-b13{
	width: 131px;
	height: 39px;
	background-position: 0px -1661px;
}

a.btn-b14{
	width: 131px;
	height: 39px;
	background-position: 0px -1700px;
}

a.btn-tnw, a.btn-tnw:visited{
	width: 45px;
	height: 17px;
	background-position: 0px -1261px;
}

a.btn-tnw:hover{
	background-position: 0px -1278px;
}

a.btn-tal, a.btn-tal:visited{
	width: 45px;
	height: 17px;
	background-position: -45px -1261px;
}

a.btn-tal:hover{
	background-position: -45px -1278px;
}

a.btn-prv, a.btn-prv:visited{
	width: 86px;
	height: 15px;
	background-position: 0px -650px;
}

a.btn-prv:hover{
	background-position: 0px -665px;
}

a.btn-nxt, a.btn-nxt:visited{
	width: 93px;
	height: 15px;
	background-position: 0px -680px;
}

a.btn-nxt:hover{
	background-position: 0px -695px;
}

a.btn-shr, a.btn-shr:visited{
	width: 51px;
	height: 15px;
	background-position: 0px -1066px;
}
a.btn-shr:hover{
	background-position: 0px -1081px;
}

a.btn-sms, a.btn-sms:visited{
	width: 77px;
	height: 15px;
	background-position: 0px -1443px;
}
a.btn-sms:hover{
	background-position: 0px -1458px;
}

a.btn-cmt, a.btn-cmt:visited{
	width: 64px;
	height: 15px;
	background-position: 0px -710px;
}

a.btn-cmt:hover{
	background-position: 0px -725px;
}

a.btn-snd, a.btn-snd:visited{
	width: 108px;
	height: 15px;
	background-position: 0px -740px;
}

a.btn-snd:hover{
	background-position: 0px -755px;
}

a.btn-prn, a.btn-prn:visited{
	width: 46px;
	height: 15px;
	background-position: 0px -770px;
}

a.btn-prn:hover{
	background-position: 0px -785px;
}

a.btn-sve, a.btn-sve:visited{
	width: 46px;
	height: 15px;
	background-position: -46px -770px;
}

a.btn-sve:hover{
	background-position: -46px -785px;
}

a.btn-gnd, a.btn-gnd:visited{
	width: 48px;
	height: 15px;
	background-position: -92px -770px;
}

a.btn-gnd:hover{
	background-position: -92px -785px;
}

a.btn-gpr, a.btn-gpr:visited{
	width: 86px;
	height: 15px;
	background-position: 0px -800px;
}

a.btn-gpr:hover{
	background-position: 0px -815px;
}

a.btn-gnx, a.btn-gnx:visited{
	width: 93px;
	height: 15px;
	background-position: 0px -830px;
}

a.btn-gnx:hover{
	background-position: 0px -845px;
}

a.btn-cls{
	width: 12px;
	height: 12px;
	background-position: 0px -326px;
}

a.btn-pls{
	width: 13px;
	height: 13px;
	background-position: 0px -860px;
}

a.btn-pld{
	width: 13px;
	height: 13px;
	background-position: 0px -873px;
}

a.btn-mns{
	width: 13px;
	height: 13px;
	background-position: 0px -886px;
}

a.btn-mnd{
	width: 13px;
	height: 13px;
	background-position: 0px -899px;
}

a.btn-cnt{
	width: 88px;
	height: 20px;
	background-position: 0px -1096px;
}

a.btn-sbm{
	width: 88px;
	height: 20px;
	background-position: 0px -1136px;
}

a.btn-all{
	width: 36px;
	height: 19px;
	background-position: 0px -1236px;
}

a.btn-prb{
	width: 88px;
	height: 20px;
	background-position: 0px -1216px;
}

a.btn-okb{
	width: 88px;
	height: 20px;
	background-position: 0px -1176px;
}

a.btn-cmb{
	width: 83px;
	height: 26px;
	background-position: 0px -1295px;
}

a.btn-sgo{
	width: 43px;
	height: 17px;
	background-position: 0px -1403px;
}

a.btn-sdt{
	width: 21px;
	height: 20px;
	background-position: 0px -1420px;
}

a.btn-goo{
	width: 30px;
	height: 23px;
	background-position: 0px -1477px;
}

/* Icon */
/* -------------------------------------------------------- */

b.icn{
	position: relative;
	display: block;
	float: left;
	overflow: hidden;
	text-indent: -999px;
	background-repeat: no-repeat;
	background-image: url('Images/icn.gif');
}

b.icn-vdo{
	width: 20px;
	height: 10px;
	background-position: 0px 0px;
}

b.icn-pht{
	width: 20px;
	height: 13px;
	background-position: -50px 0px;
}

b.icn-txt{
	width: 15px;
	height: 12px;
	background-position: -100px 0px;
}

b.icn-lve{
	width: 18px;
	height: 12px;
	background-position: -150px 0px;
}

b.icn-irp{
	width: 17px;
	height: 12px;
	background-position: -200px 0px;
}

b.icn-sms{
	width: 9px;
	height: 16px;
	background-position: -200px -50px;
}

b.icn-cls{
	width: 12px;
	height: 12px;
	background-position: -250px -50px;
}

b.icn-rst{
	width: 12px;
	height: 11px;
	background-position: -300px -50px;
}

b.icn-rdo{
	width: 16px;
	height: 14px;
	background-position: 0px -150px;
}


b.icn-wta{
	width: 32px;
	height: 24px;
	background-position: 0px -50px;
}

b.icn-wtb{
	width: 32px;
	height: 24px;
	background-position: -50px -50px;
}

b.icn-wtc{
	width: 32px;
	height: 24px;
	background-position: -100px -50px;
}

b.icn-wtd{
	width: 32px;
	height: 24px;
	background-position: -150px -50px;
}

b.icn-dot{
	width: 10px;
	height: 10px;
	background-position: -350px -100px;
}

b.icn-s01{
	width: 16px;
	height: 16px;
	background-position: 0px -100px;
}

b.icn-s02{
	width: 16px;
	height: 16px;
	background-position: -50px -100px;
}

b.icn-s03{
	width: 16px;
	height: 16px;
	background-position: -100px -100px;
}

b.icn-s04{
	width: 16px;
	height: 16px;
	background-position: -150px -100px;
}

b.icn-s05{
	width: 16px;
	height: 16px;
	background-position: -200px -100px;
}

b.icn-s06{
	width: 16px;
	height: 16px;
	background-position: -250px -100px;
}

b.icn-s07{
	width: 16px;
	height: 16px;
	background-position: -300px -100px;
}

b.icn-s08{
	width: 16px;
	height: 16px;
	background-position: -50px -150px;
}

b.icn-s09{
	width: 16px;
	height: 16px;
	background-position: -100px -150px;
}

/* Tab */
/* -------------------------------------------------------- */

.tab{
	float: left;
	width: 100%;
	margin: -9px 0px 0px 0px;
	background-color: #DADADA;
}

.tab ul{
	float: left;
}

.tab li{
	display: inline;
	float: left;
	margin: 0px 6px 0px 0px;
}

/* Default */

.tab li.def{
	/* width: 123px; */
}

.tab li.def a,
.tab li.def a:visited{
	float: left;
	width: 103px;
	height: 17px;
	padding: 6px 10px 0px 10px;
	color: #CC0000;
	font-size: 10px;
	font-weight: bold;
	background: #FFFFFF url('Images/tab.gif') no-repeat 0px 0px;
}

.tab li.def a:hover{
	background: #FFFFFF url('Images/tab.gif') no-repeat 0px -27px;
}

/* Active */

.tab li.act{
	width: 223px;
	height: 29px;
	background: #FFFFFF url('Images/tab.gry.rgt.gif') no-repeat top right;
}

.tab li.act a,
.tab li.act a:visited{
	float: left;
	width: 103px;
	height: 23px;
	padding: 6px 10px 0px 10px;
	color: #949494;
	font-size: 10px;
	font-weight: bold;
	background: transparent url('Images/tab.gry.lft.gif') no-repeat top left;
}

.tab li.act a:hover{
	color: #949494;
}

/* First */

.tab li.frs{
	position: relative;
	height: 34px;
	margin-bottom: -5px;
}

.tab li.frs a,
.tab li.frs a:visited{
	height: 28px;
	background: transparent url('Images/tab.gry.frs.gif') no-repeat top left;
}

/* Tab - White */
/* -------------------------------------------------------- */

/* Default */

.tab-wht{
	background-color: #FFFFFF;
}

.tab-wht li.def{
	width: 140px;
}

.tab-wht li.def a,
.tab-wht li.def a:visited{
	width: 120px;
	height: 19px;
	overflow: hidden;
	background: #FFFFFF url('Images/tab.gif') no-repeat 0px -54px;
}

.tab-wht li.def a:hover{
	background: #FFFFFF url('Images/tab.gif') no-repeat 0px -81px;
}

/* Active */

.tab-wht li.act{
	position: relative;
	width: 200px;
	height: 33px;
	overflow: hidden;
	margin-bottom: -1px;
	background: #EBEBEB url('Images/tab.wht.rgt.gif') no-repeat top right;
}

.tab-wht li.act a,
.tab-wht li.act a:visited{
	width: 120px;
	height: 27px;
	background: transparent url('Images/tab.wht.lft.gif') no-repeat top left;
}

.tab-wht li.act a:hover{
	color: #949494;
}

/* Tab - Playlist */
/* -------------------------------------------------------- */

/* Default */

.tab-pls{
	background-color: #FFFFFF;
}

.tab-pls li.def{
	width: 110px;
}

.tab-pls li.def a,
.tab-pls li.def a:visited{
	width: 90px;
	height: 19px;
	overflow: hidden;
	background: #FFFFFF url('Images/tab.gif') no-repeat 0px -108px;
}

.tab-pls li.def a:hover{
	background: #FFFFFF url('Images/tab.gif') no-repeat 0px -135px;
}

/* Active */

.tab-pls li.act{
	position: relative;
	width: 150px;
	height: 33px;
	overflow: hidden;
	margin-bottom: -1px;
	background: #F3F3F3 url('Images/tab.pls.rgt.gif') no-repeat top right;
}

.tab-pls li.act a,
.tab-pls li.act a:visited{
	width: 120px;
	height: 27px;
	background: transparent url('Images/tab.pls.lft.gif') no-repeat top left;
}

.tab-pls li.act a:hover{
	color: #949494;
}

/* First */

.tab-pls li.frs{
	position: relative;
	height: 36px;
	margin-bottom: -4px;
}

.tab-pls li.frs a,
.tab-pls li.frs a:visited{
	height: 31px;
	background: transparent url('Images/tab.pls.frs.gif') no-repeat top left;
}

/* Box */
/* -------------------------------------------------------- */

.box{
	float: left;
	width: 100%;
	margin: 9px 0px 0px 0px;
	padding: 0px 0px 9px 0px;
}

.box h3{
	clear: left;
	height: 9px;
	overflow: hidden;
	text-indent: -999px;
}

/* General */

.box div.hdr,
.box div.cnt,
.box div.ftr{
	position: relative;
	display: inline;
	float: left;
	margin: 0px 9px 0px 9px;
	padding: 9px 9px 9px 9px;
	border: 1px solid #DFDFDF;
}

/* Header */

.box div.hdr{
	border-bottom: none;
}

.box div.hdr a.hdr{
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
}

.box div.hdr a.hdr b,
.box div.hdr a.hdr:visited b{
	color: #000000;
}

.box div.hdr a.hdr:hover b{
	color: #CC0000;
}

.box div.hdr label.hdr{
	cursor: default;
	color: #004276;
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
}

.box div.hdr label.hdr b{
	color: #000000;
}

/* Content  */

.box div.cnt{
	overflow: hidden;
	background-color: #F2F2F2;
}

/* Footer */

.box div.ftr{
	color: #999999;
	font-size: 11px;
	border-top: none;
}

.box div.ftr a.lnk{
	padding: 0px 4px 0px 4px;
	font-weight: bold;
}

.box div.ftr a.lnk-act, .box .box div.ftr a.lnk-act:visited{
	color: #CC0000;
}

/* Top */

.box div.top{
	position: relative;
	display: inline;
	float: left;
	width: 585px;
	margin: 0px 0px 0px 0px;
	padding: 0px 18px 9px 18px;
	border-bottom: 1px solid #DFDFDF;	
	background-color: #FFFFFF;
}

.box div.top a.hdr{
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
}

.box div.top a.hdr b,
.box div.top a.hdr:visited b{
	color: #000000;
	float:left;
}

.box div.top a.hdr:hover b{
	color: #CC0000;
}

.box div.top a.lnk .icn{
	display: block;
	float: left;
	margin-right: 6px;
	margin-top: -2px;
}

.box div.top span.txt{
	float: left;	
	color: #9B9595;
	font-size: 11px;
	line-height: 14px;
	font-weight: bold;	
}

.box div.top a.lnk{
	float: right;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
}

.box div.top a.rss{
	float: right;
	padding-right: 18px;
	color: #CA0002;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	background: #FFFFFF url('Images/icn.rss.jpg') no-repeat right 1px ;
}

.box div.top label.hdr{
	cursor: default;
	color: #004276;
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
}

.box div.top label.hdr b{
	color: #000000;
}

/* Medium */

.box div.mdm{
	position: relative;
	display: inline;
	float: left;
	width: 583px;
	margin: 0px 0px 0px 0px;
	padding: 0px 18px 0px 18px;
}

/* Form */

.box div.frm{
	position: relative;
	display: inline;
	float: left;
	width: 583px;
	margin: 0px 0px 0px 0px;
	padding: 9px 18px 9px 18px;
	background-color: #F8F8F8;
}

/* List */

.box table.lst{
	clear: both;
	width: 585px;
	margin: 0px 18px 9px 18px;
	border-collapse: collapse;
}

.box table.lst td{
	 width: 50%;
	vertical-align: top;
}

/* Box - Position */
/* -------------------------------------------------------- */

/* Top */

.cnt-top .box{
	background: #FFFFFF url('Images/bck.top.btm.gif') no-repeat bottom left;
}

.cnt-top .box h3{
	background: #FFFFFF url('Images/bck.top.top.gif') no-repeat top left;
}

.cnt-top .box div.hdr,
.cnt-top .box div.top,
.cnt-top .box div.cnt,
.cnt-top .box div.ftr{
	width: 946px;
}

/* Left */

.cnt-lft .box{
	background: #FFFFFF url('Images/bck.lft.btm.gif') no-repeat bottom left;
}

.cnt-lft .box h3{
	background: #FFFFFF url('Images/bck.lft.top.gif') no-repeat top left;
}

.cnt-lft .box div.hdr,
.cnt-lft .box div.cnt,
.cnt-lft .box div.ftr{
	width: 583px;
}

/* Right */

.cnt-rgt .box{
	background: #FFFFFF url('Images/bck.rgt.btm.gif') no-repeat bottom left;
}

.cnt-rgt .box h3{
	background: #FFFFFF url('Images/bck.rgt.top.gif') no-repeat top left;
}

.cnt-rgt .box div.hdr,
.cnt-rgt .box div.cnt,
.cnt-rgt .box div.ftr{
	width: 316px;
}

/* Box - Pager  */
/* -------------------------------------------------------- */

.box div.pgr{
}

.box div.pgr a{
	display: inline;
	float: left;
	text-indent: -999px;
	background-color: #FFFFFF;
	background-image: url('Images/btn.gif');
}

.box div.pgr a.prv,
.box div.pgr a.prv:visited{
	width: 26px;
	height: 19px;
	margin: 0px 14px 0px 0px;
	overflow: hidden;
	background-position: 0px -164px;
}

.box div.pgr a.prv:hover{
	background-position: 0px -183px;
}

.box div.pgr a.prv-dsb,
.box div.pgr a.prv-dsb:hover,
.box div.pgr a.prv-dsb:visited{
	cursor: default;
	background-position: 0px -202px;
}

.box div.pgr a.nxt,
.box div.pgr a.nxt:visited{
	width: 26px;
	height: 19px;
	margin: 0px 0px 0px 10px;
	overflow: hidden;
	background-position: 0px -107px;
}

.box div.pgr a.nxt:hover{
	background-position: 0px -126px;
}

.box div.pgr a.nxt-dsb,
.box div.pgr a.nxt-dsb:hover,
.box div.pgr a.nxt-dsb:visited{
	cursor: default;
	background-position: 0px -145px;
}

.box div.pgr a.pge,
.box div.pgr a.pge:visited{
	width: 5px;
	height: 5px;
	margin: 8px 4px 0px 0px;
	overflow: hidden;
	background-position: 0px -283px;
}

.box div.pgr a.pge:hover,
.box div.pgr a.pge-hvr,
.box div.pgr a.pge-hvr:visited{
	background-position: 0px -288px;
}

/* Box - Select  */
/* -------------------------------------------------------- */

.box div.slc{
	position: absolute;
	float: right;
	width: 168px;
	height: 25px;
	top: 10px;
	right: 10px;
	background: transparent url('Images/btn.slc.gif') no-repeat right -33px;
}

.box div.slc span{
	display: block;
	clear: left;
	height: 21px;
	border-right: none;
}

.box div.slc input{
	cursor: pointer;
	float: left;
	width: 154px;
	height: 21px;
	padding: 4px 5px 0px 9px;
	color: #276592;
	font-size: 11px;
	font-weight: bold;
	border: 1px none #FFFFFF;
	background: transparent url('Images/btn.slc.gif') no-repeat left 0px;
}

.box div.slc input.hvr{
	color: #CC0000;
}

.box div.slc div{
	position: absolute;
	display: none;
	float: right;
	clear: right;
	top: 0px;
	width: 220px;
	height: 180px;
	margin: -10px 0px 0px -103px;
	padding: 20px 20px 20px 20px;
	overflow: hidden;
	background: transparent url('Images/bck.slc.png');
	z-index: 1;
}

.box div.slc ul{
	position: relative;
	display: none;
	float: left;
	width: 220px;
	height: 180px;
	overflow: auto;
	background-color: #FFFFFF;
}

.box div.slc li{
	padding: 0px 5px 0px 5px;
	font-size: 11px;
	line-height: 20px;
	font-weight: bold;
}

.box div.slc li.frs{
	display: none;
}

.box div.slc li a.hvr,
.box div.slc li a.hvr:visited{
	color: #CC0000;
}

.box div.slc-sml{
	width: 115px;
}

.box div.slc-sml input{
	width: 101px;	
}

.box div.slc-sml div{
	width: 120px;
	background-image: url('Images/bck.sll.png');
	margin-left: -57px;
}

.box div.slc-sml ul{
	width: 120px;
}

/* Box - Thumbnail Gallery  */
/* -------------------------------------------------------- */

.box div.tmb-glr{
	position: relative;
	display: inline;
	float: left;
	width: 300px;
	height: 43px;
	margin-left: 8px;
	overflow: hidden;
}

.box div.tmb-glr ul{
	display: inline;
	float: left;
	width: 300px;
	height: 43px;
}

.box div.tmb-glr li{
	display: inline;
	float: left;
	width: 60px;
	height: 43px;
}

.box div.tmb-glr a, .box div.tmb-glr a:visited{
	float: left;
	width: 50px;
	height: 33px;
	padding: 5px;
	opacity: .75;
	filter: alpha(opacity=75);
}

.box div.tmb-glr a:hover, .box div.tmb-glr a.act, .box div.tmb-glr a.act:visited{
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #E9E7EA;
}

.box div.tmb-glr img{
	float: left;
	width: 50px;
	height: 33px;
}

/* Box - Thumbnail Vertical  */
/* -------------------------------------------------------- */

.box div.tmb-vrt{
	float: left;
	width: 316px;
}

.box div.tmb-pht{
	height: 70px;
	overflow: hidden;
}

.box div.tmb-vrt ul{
	float: left;
}

.box div.tmb-vrt li{
	float: left;
	width: 316px;
}

.box div.tmb-vrt li a {
	float: left;
	width: 307px;
}

.box div.tmb-vrt li a b{
	display: block;
	font-size: 14px;
	padding-bottom: 6px;
}

.box div.tmb-vrt li a span{
	color: #000000;
	font-size: 10px;
	line-height: 12px;
}

.box div.tmb-vrt li a img{
	float: left;
	margin-right: 9px;
}

/* Box - Thumbnail Small  */
/* -------------------------------------------------------- */

.box div.tmb-sml{
	position: relative;
	display: inline;
	float: left;
	width: 318px;
	height: 101px;
	overflow: hidden;
	margin-right: -9px;
}

.box div.tmb-sml ul{
	display: inline;
	float: left;
	width: 325px;
	height: 101px;
}

.box div.tmb-sml li{
	display: inline;
	float: left;
	width: 101px;
	height: 101px;
	margin: 0px 7px 0px 0px;
	background: #F2F2F2 url('Images/bck.tmb.btm.gif') no-repeat bottom left;
}

.box div.tmb-sml a{
	float: left;
	width: 87px;
	height: 80px;
	padding: 7px 7px 7px 7px;
	overflow: hidden;
	font-size: 10px;
	font-weight: bold;
	background: transparent url('Images/bck.tmb.top.gif') no-repeat top left;
}

.box div.tmb-sml img{
	float: left;
	width: 88px;
	height: 49px;
	padding-bottom: 2px;
}

/* Box - Thumbnail  Big */
/* -------------------------------------------------------- */

.box div.tmb-big{
	position: relative;
	display: inline;
	float: left;
	width: 583px;
	height: 180px;
	margin: 18px 0px 0px 0px;
	overflow: hidden;
	margin-right: -1px;
}

.box div.tmb-big ul{
	display: inline;
	float: left;
	width: 609px;
	height: 180px;
}

.box div.tmb-big li{
	display: inline;
	float: left;
	width: 190px;
	height: 180px;
	margin: 0px 13px 0px 0px;
	overflow: hidden;
}

.box div.tmb-big div{
	float: left;
	width: 177px;
	height: 180px;
	padding: 0px 12px 0px 0px;
	overflow: hidden;
	border-right: 1px solid #E1E1E1;
}

.box div.tmb-big a{
	font-size: 11px;
}

.box div.tmb-big a.lnk{
	font-size: 12px;
	font-weight: bold;
}

.box div.tmb-big a.lnk img{
	float: left;
	padding-bottom: 5px;
}

.box div.tmb-big a.lnk i{
	display: block;
	color: #CC0002;
	font-size: 10px;
	font-style: normal;
}

.box div.tmb-hld{
	height: 160px;
	margin: 9px 0px 0px 0px;
}

.box div.tmb-hld ul{
	height: 160px;
}

/* Box - Bullet List  */
/* -------------------------------------------------------- */

.box div.blt{
	float: left;
	margin: 9px 0px 0px 0px;
}

.box div.blt a.hdr,
.box div.blt b.ttl{
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
}

.box div.blt a.hdr b,
.box div.blt a.hdr:visited b{
	color: #000000;
}

.box div.blt a.hdr:hover b{
	color: #CC0000;
}

.box div.blt ul.lst li{
	display: block;
	padding: 0px 9px 0px 9px;
	line-height: 18px;
	background: #FFFFFF url('Images/blt.crc.gif') no-repeat 0px 6px;
}

.box div.blt ul.lst li a.lnk{
	font-weight: bold;
}

.box div.blt a.all{
	display: block;
	margin: 5px 0px 0px 0px;
	padding: 4px 0px 4px 10px;
	font-size: 10px;
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
}


/* Box - Spot List */
/* -------------------------------------------------------- */

.box div.spt ul.lst{
	float: left;
	margin-top: -18px;
}

.box div.spt ul.lst-top{
	margin: 0px;
}

.box div.spt a.ttl {
	position: relative;
	display: block;
	margin: -3px 0px 9px 0px;	
	color: #FE0000;
	font-size: 16px;
	font-weight: bold;
}

.box div.spt ul.lst li{
	display: block;
	clear: both;
	padding-left: 9px;
	font-size: 11px;
	line-height: 16px;
	vertical-align: top;
	background: #FFFFFF url('Images/blt.crc.gif') no-repeat 0px 6px;
}

.box div.spt ul.lst li.img{
    float: left;
}

.box div.spt ul.lst li.big{    
	height: 68px;
	margin-top: 18px;
	padding-left: 0px;
	overflow: hidden;
	font-size: 11px;
	line-height: 13px;
	background-image: none;
}

.box div.spt ul.lst li.sml{
	margin-top: 26px;
	padding: 7px 0px 10px 0px;
	font-size: 11px;
	line-height: 13px;
	background-image: none;
}

.box div.spt ul.lst a{
	font-size: 11px;
}

.box div.spt ul.lst a.img{
	display: inline;
	float: left;
	clear: left;
	margin-right: 11px;
}

.box div.spt ul.lst a.img img{	
	float: left;
	margin-bottom:6px;
}

.box div.spt ul.lst a.lnk b.lnk{
	position: relative;
	display: block;
	padding-bottom: 3px;
	font-size: 14px;
	z-index: 1;
}

#body .box div.spt ul.lst a.lnk span.lnk{
	color: #000000;
	font-size: 11px;
	line-height: 13px;
	margin-top: 25px;
}

/* Box - Blog Box  */
/* -------------------------------------------------------- */

.box div.bbx{
	position: relative;
	float: left;
	width: 278px;
	margin: 9px 0px 0px 0px;
	padding: 7px 7px 5px 7px;
	border: 1px solid #E0E0E0;
}

.box div.bbx b.hdr{
	display: block;
}

.box div.bbx a.lnk{
	float: left;
	clear: both;
	width: 100%;
	margin-top: 7px;
}

.box div.bbx a.lnk b{
	display: block;
	font-size: 14px;
	padding-bottom: 5px;
}

.box div.bbx a.lnk span{
	color: #000000;
	font-size: 10px;
	line-height: 12px;
}

.box div.bbx a.lnk img{
	float: left;
	margin-right: 7px;
}

.box div.bbx div.slc{
	top: 3px;
	right: 3px;
}

.box div.bbx a.lft{
	float: left;
	padding: 3px 3px 3px 3px;
}

.box div.bbx a.rgt, .box div.bbx a.rgt:visited{
	float: left;
	width: 150px;
	padding: 3px 3px 0px 6px;
	color: #000000;
}

.box div.bbx a.rgt:hover{
	color: #CA0002;
}

.box div.bbx a.rgt span{
	cursor: pointer;
	float: left;
	width: 150px;
	margin-top: 9px;
}

/* Box - Buttons Box */
/* -------------------------------------------------------- */

.box div.btn{
	display: inline;
	float: right;
	width: 280px;
	margin: 0px -9px 0px 0px;
}

.box div.btn a.btn{
	display: inline;
	margin: 9px 9px 0px 0px;
}

/* Form  */
/* -------------------------------------------------------- */

#body .form{
	background: #F8F8F8 url('Images/bck.frm.btm.gif') no-repeat bottom left;
}

.form div.top span.inf{
	float: left;
	color: #9B9595;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}

.form b.frm{
	float: left;
	width: 90%;
	margin: 18px 0px 0px 0px;
	padding: 0px 0px 9px 2px;
	color: #CC0002;
	font-size: 16px;
}

/* Paragraph */

.form p.frm{
    position: relative;
	float: left;
	width: 100%;
	margin-top: 9px;
}

.form blockquote{
	float: left;
	padding-left: 160px;
}

.form blockquote p.frm{
	line-height: 20px;
}

.form p.frm label{
	float: left;
	width: 160px;
}

.form p.frm input.txt{
	width: 155px;
	margin-right: 9px;
	border: 1px solid #969696;
}

.form p.frm textarea.txt{
	width: 300px;
	height: 150px;
	border: 1px solid #969696;
}

.form p.frm a.btn{
	clear: both;
}

.form p.frm a.lnk, .form p.frm a.lnk:visited{
	display: block;
	color: #000000;
	font-weight: bold;
}

.form p.frm a.lnk:hover{
	color: #CC0002;
}

.form p.frm span.chk{
	float: left;
	margin-right: 6px;
}

.form p.frm-bar{
	margin-top: 18px;
}

.form p.frm span{
	color: #FF0000;
}

.form p.frm-bar span{
	float: left;
}

.form p.frm-bar a.btn{
	float: right;
}

.form p.frm-bar input.btn{
	float: right;
}

.form p.frm-txt{
	padding-bottom: 18px;
	line-height: 16px;
}

.form p.frm-txt b{
	display: block;
}

.form span.frm{
    display: block;
    clear: both;
    width: 100%;	
	color: #333333;
	font-size: 11px;
}

.form span.chr{
    position: absolute;
    float: left;
    top: 0px;
    left: 470px;
    color: #000000;
    font-size: 11px;
}

/* Top Table */

.form table.top{
	float: left;
	width: 100%;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
}

.form table.top th{
	width: 140px;
	padding: 9px 9px 9px 9px;
	font-size: 11px;
}

.form table.top td{
	padding: 0px 9px 9px 9px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
}

.form table.top input.txt{
	border: 1px solid #969696;
}

.form table.top tr.lng td{
	background-color: #DDDDDD;
}

.form table.top tr.lng input.txt{
	width: 205px;
}

/* Table */

.form table.frm{
	float: left;
	width: 100%;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
}

.form table.frm th{
	width: 140px;
	padding: 8px 9px 8px 9px;
	font-weight: bold;
	white-space: nowrap;
	background-color: #DDDDDD;
	border: 1px solid #CCCCCC;
}

.form table.frm td{
	padding: 6px 6px 6px 6px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
}

.form table.frm input.txt{
	border: 1px solid #969696;
}

.form table.frm td select{
	width: 206px;
}

.form table.frm td label{
	margin-left: 3px;
	margin-right: 9px;
}

.form table.frm td i{
	font-size: 10px;
	font-style: normal;
}

/* Validation */

.form div.vld{
	float: left;
	width: 565px;
	margin: 18px 0px 0px 0px;
	padding: 9px;	
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}

/* Last Minute  */
/* -------------------------------------------------------- */

.lastminute{
	position: relative;
	display: inline;
	float: left;
	width: 984px;
	margin-top: 9px;
	margin-left: 0px;
	background-color: #000000;
}

.lastminute b{
	float: left;
	width: 182px;
	padding: 10px 14px 0px 14px;
	color: #FFFFFF;
	font-size: 22px;
}

.lastminute a.lnk, .lastminute a.lnk:visited{
	float: left;
	width: 754px;
	padding: 10px 10px 10px 10px;
	color: #000000;
	font-size: 22px;
	font-weight: bold;
	background-color: #FFF500;
}

.lastminute a.lnk:hover{
	color: #CC0000;
}

.lastminute a.cls{
	float: right;
	width: 20px;
	height: 20px;
	margin-left: -20px;
	overflow: hidden;
	text-indent: -999px;
	background-image: url('Images/hdr.gif');
	background-position: -20px -134px;
}

.lastminute span{
	position: absolute;
	float: left;
	width: 15px;
	height: 15px;
	overflow: hidden;
	text-indent: -999px;
	background-image: url('Images/hdr.gif');
}

.lastminute b span{
	top: 0px;
	left: 0px;
	background-position: 0px -134px;
}

.lastminute a span{
	right: 0px;
	bottom: 0px;
	background-position: -65px -139px;
}

.lastminute span.btm{
	left: 0px;
	bottom: 0px;
	background-position: -40px -139px;
}


/* Headline */
/* -------------------------------------------------------- */

.headline{
	float: left;
	width: 283px;
	padding: 5px 9px 9px 9px;
	background-color: #F6F6F6;
}

.headline .nws{
	float: left;
	width: 283px;
	padding: 0px 0px 9px 0px;
}

.headline .nws-act{
	display: block;
}

.headline .ntp{
	display: block;
	overflow: hidden;
}

.headline .ntp div{
	position: relative;
	float: left;
	width: 271px;
	height: 22px;
	margin-bottom: -22px;
	padding: 0px 6px 0px 6px;
	line-height: 22px;
	font-weight: bold;
	background-color: #FFF500;
	z-index: 1;
}

.headline .ntp a.img{
	float: left;
}

.headline .ntp a.hdr{
	float: left;
	width: 265px;
	margin: 10px 0px 0px 0px;
	padding: 0px 9px 0px 9px;
	font-size: 22px;
	line-height: 23px;
	font-weight: bold;
}

.headline .ntp span.spt{
	display: block;
	clear: both;
	width: 265px;
	padding: 8px 9px 0px 9px;
	overflow: hidden;
	line-height: 16px;
}

/* Top News */
/* -------------------------------------------------------- */

.topnews{
	margin: 9px 0px 0px 0px;
	padding: 0px 18px 0px 0px;
}

.topnews a.rst, .topnews a.rst:visited{
	display: inline;
	float: left;
	margin: -19px 0px 0px 165px;
	color: #CA0002;
	font-size: 11px;
	font-weight: bold;
}

.topnews a.rst:hover{
	color: #004276;
}

.topnews a.rst b{
	margin: 2px 5px 0px 0px;
}

/* Box News */
/* -------------------------------------------------------- */

.boxnews{
	float: left;
	width: 260px;
	margin: 9px 0px 0px 0px;
	padding: 11px 11px 11px 11px;
	border: solid 2px #EFEFEF;
}

.boxnewstop{
	border: none;
}

/* Blogs  */
/* -------------------------------------------------------- */

.blogs div.mdm{
	z-index: 1;
	width: 561px;
	padding-left: 36px;
	padding-bottom: 9px;
}

.blogs div.mdm a.btn{
	margin: 9px 9px 0px 0px;
}

/* Carousel */
/* -------------------------------------------------------- */

#body .carousel .tmb-sml{
    width: 583px;
    margin-top: 9px;    
}

/* Accordion */
/* -------------------------------------------------------- */

.accordion div.acr{
	margin: 0px 9px 0px 9px;
	background-color: #FFFFFF;
}

.accordion div.ttl{
	float: left;
	width: 100%;
	background: #FFFFFF url('Images/hdr.crn.gif') no-repeat right -42px;
}

.accordion div.ttl b{
	display: block;
	width: 331px;
	height: 42px;
	line-height: 42px;
	overflow: hidden;
	text-indent: -999px;
	background: transparent url('Images/hdr.gif') no-repeat 0px -60px;
}

.accordion div.cvr{
	float: left;
	width: 100%;
	margin: 6px 0px 0px 0px;
	overflow: hidden;
}

.accordion a.ttl{
	float: left;
	width: 100%;
	background: #CA0002 url('Images/hdr.crn.gif') no-repeat right -106px;
}

.accordion a.ttl span{
	cursor: pointer;
	float: left;
	height: 22px;
	color: #CA0002;
	font-size: 11px;
	font-weight: bold;
	line-height: 22px;
	padding: 0px 0px 0px 9px;
	background: transparent url('Images/hdr.crn.gif') no-repeat left -84px;
}

.accordion a.ttl b{
	display: inline;
	float: left;
	width: 9px;
	height: 9px;
	margin: 6px 6px 0px 0px;
	overflow: hidden;
	background: transparent url('Images/arr.gif') no-repeat -9px 0px;
}

.accordion div.inr{
	display: none;
	float: left;
	width: 100%;
}

/* Links */

.accordion table.lnk{
	width: 100%;
	border-collapse: collapse;
}

.accordion table.lnk td{
	width: 50%;
	border: 1px solid #DFDFDF;
	border-bottom: none;
}

.accordion table.lnk a,
.accordion table.lnk a:visited{
	display: block;
	padding: 3px 0px 3px 0px;
	color: #CB0003;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}

.accordion table.lnk a:hover{
	background-color: #FEFDE8;
}

.accordion table.lnk a.act,
.accordion table.lnk a.act:visited{
	color: #999999;
}

.accordion table.lnk a.act:hover{
	background-color: #FFFFFF;
}

/* News */

.accordion table.nws{
	display: none;
	width: 100%;
	border: 1px solid #DFDFDF;
	border-top: none;
	border-collapse: collapse;
}

.accordion table.act{
	display: block;
}

.accordion table.nws th{
	padding: 3px 9px 3px 12px;
	color: #C4C4C4;
	font-size: 16px;
	font-weight: bold;
	border-top: 1px solid #DFDFDF;
}

.accordion table.nws td{
	width: 100%;
	padding: 3px 6px 3px 6px;
	border-top: 1px solid #DFDFDF;
}

.accordion table.nws a,
.accordion table.nws a:visited{
	font-size: 11px;
	font-weight: bold;
}

.accordion table.nws img.vdo{
	float: right;
	margin: 3px 0px 3px 0px;
	border: 1px solid #FFFFFF;
}

.accordion table.nws tr.hvr{
	background-color: #FEFDE8;
}

.accordion table.nws tr.hvr img{
	border: 1px solid #CC0000;
}

.accordion a.btm{
	display: block;
	height: 19px;
	font-size: 10px;
	line-height: 19px;
	background: #FFFFFF url('Images/hdr.btm.gif') no-repeat bottom right;
}

.accordion a.btm span{
	cursor: pointer;
	float: left;
	height: 19px;
	padding-left: 16px;
	background: transparent url('Images/hdr.lft.gif') no-repeat bottom left;
}

/* Bottom */

.accordion ul.lst li.btm{
	clear: both;
	height: 12px;
	margin: 0px -1px 0px -1px;
	line-height: 6px;
	border-top: 1px solid #E8E8E8;
	background: #FFFFFF url('Images/hdr.btm.gif') no-repeat bottom right;
}

.accordion ul.lst li.btm span{
	float: left;
	width: 5px;
	height: 12px;
	overflow: hidden;
	text-indent: -999px;
	background: #FFFFFF url('Images/hdr.lft.gif') no-repeat bottom left;
}

/* Active */

.accordion .act div.inr{
	display: inline;
}

.accordion .act a.ttl{
	background: #FFFFFF url('Images/hdr.top.gif') no-repeat top right;
}

.accordion .act a.ttl span{
	color: #CA0002;
	background-position: left -128px;
}

.accordion .act a.ttl b{
	background-position: 0px 0px;
}

/* IE Fix */

.accordion a.ttl{
	width: 336px;
}

.accordion div.inr{
	width: 336px;
}


/* Photo  */
/* -------------------------------------------------------- */

#body .photo div.cnt{
	width: 310px;
	padding: 12px 12px 12px 12px;
	background: #F2F2F2 url('Images/ind.gif') no-repeat center 82px;
}

#body .photo div.ftr{
	padding: 5px 9px 5px 9px;
}

#body .photo div.jrb{
	height: 22px;
}

#body .photo div.pgr{
	position: absolute;
	display: inline;
	float: right;
	top: 7px;
	right: 115px;
}

.photo div.cnt a.img{
	float: left;
	width: 308px;
	height: 231px;
}

.photo div.cnt a.txt{
	float: left;
	width: 310px;
	height: 20px;
	margin: -20px 0px 0px 0px;
	color: #FFFFFF;
	line-height: 20px;
	background: transparent url('Images/spc.drk.png');
}

.photo div.cnt a.txt b{
	left: 5px;
	margin: 3px 5px 0px 0px;
}

/* Finance  */
/* -------------------------------------------------------- */

#body .finance div.cnt{
	width: 334px;
	padding: 0px;
	border-bottom: none;
}

.finance div.jrt{
	z-index: 1;
}

.finance div.jrt div.slc{	
	top: 48px;
	right: 4px;
	z-index: 1;
}

.finance div.hdr a.lgo{
    float: right;
    width: 77px;
    height: 21px;
    margin-top: 3px;
    overflow: hidden;
    text-indent: -999px;
	background: #FFFFFF url('Images/lgo.bigpara.jpg') no-repeat;	
}

.finance div.hdr span{
	color: #949494;
	font-size: 11px;
}

.finance table{
	float: left;
	width: 334px;
	border-collapse: collapse;
}

.finance table td{
	height: 25px;
	text-align: left;
	vertical-align: middle;
	border-bottom: 1px solid #E0E0E0;
}

.finance table td.lft{
	padding: 0px 0px 0px 9px;
	font-size: 16px;
	font-weight: bold;
}

.finance table td.mdl{
	padding: 0px 0px 0px 9px;
	font-size: 10px;
}

.finance table td.rgt{
	width: 100%;
	padding: 0px 0px 0px 100px;
	font-size: 16px;
	font-weight: bold;
}

.finance table td.rgt b{
	position: relative;
	display: block;
	float: left;
	width: 18px;
	height: 14px;
	overflow: hidden;
	text-indent: -999px;
	background-repeat: no-repeat;
	background-image: url('Images/icn.gif');
}

.finance table td.rgt-red{
	color: #CA0002;
}

.finance table td.rgt-red b{
	background-position: -250px 4px;
}

.finance table td.rgt-green{
	color: #009900;
}

.finance table td.rgt-green b{
	background-position: -300px 4px;
}

.finance table td.rgt-navy{
	color: #004276;
}

.finance table td.rgt-navy b{
	background-position: -350px 4px;
}

/* Activities */
/* -------------------------------------------------------- */

.activities div.cnt h4{    
    font-size: 13px;
	padding: 0px 0px 6px 6px;
}

.activities div.cnt span{
	display: block;
	float: left;
	margin-top: 3px;
}

.activities div.cnt span b{
	float: left;
	width: 90px;
	padding-right: 9px;
	color: #004276;
	font-size: 12px;
	text-align: right;
}

.activities div.cnt span select{
	float: left;
	width: 210px;
	height: 22px;
}

.activities div.ftr a.lnk{
	padding: 0px 3px 0px 3px;
}

/* Sport */
/* -------------------------------------------------------- */

.sport div.cnt div{
	float: left;
	width: 325px;
	margin-right: -9px;
}

.sport div.cnt a{
	float: left;
	margin-right: 7px;
}

.sport div.cnt img{
	float: left;
}

/* Video */
/* -------------------------------------------------------- */

#body .video div.cnt{	
	padding-top: 0px;
}

/* IReport */
/* -------------------------------------------------------- */

#body .ireport div.ttl{
    position: relative;
	display: inline;
	float: left;
	width: 336px;
	height: 47px;
	margin-left: 9px;
	padding: 0px;
	/*background: #FFFFFF url('Images/bck.irp.box.gif') no-repeat;*/
}

#body .ireport a.hdn{
    float: left;
	width: 190px;
	height: 47px;    
	overflow: hidden;
	text-indent: -999px;	
}

#body .ireport div.cnt{
	background-color: #FFFFFF;
	padding-top: 0px;
	border-top: none;
}

#body .ireport div.pgr{
    top: 12px;
}

/* Television  */
/* -------------------------------------------------------- */

.television div.hdr{
	z-index: 1;
}

#body .television div.cnt{
	width: 334px;	
	padding: 0px;
	background: white;
	border-bottom: none;
}

#body .television div.cnt li{
	width: 316px;	
	padding: 9px;
	border-bottom: 1px solid #DFDFDF;
}

#body .television div.cnt li a{		
	float: left;
	width: 100%;
}

#body .television div.cnt li a b{		
	cursor: pointer;
}

#body .television div.cnt li a img{
	float: right;
	margin: 0px;
	border: 1px solid #FFFFFF;
}

#body .television div.cnt li a:hover img{
	border: 1px solid #CA0002;
}

#body .television div.cnt li a div{
	float: left;
	width: 245px;
	height: 46px;
	overflow: hidden;
}

/* Weather  */
/* -------------------------------------------------------- */

.weather .wtr{
	display: inline;
	float: left;
	width: 316px;
	margin-left: 9px;
	padding: 9px;
	border: 1px solid #E0E0E0;
	border-top: none;
}

.weather .wtr span{
	float: left;
	width: 158px;
	color: #949494;
	text-align: center;
	background-color: #FFFFFF;
}

.weather .wtr span b{
	display: block;
	color: #276592;
}

.weather .wtr span.rgt{
	width: 157px;
	border-left: 1px solid #E0E0E0;
}


/* Survey  */
/* -------------------------------------------------------- */

.survey div.hdr{
	background: #FFFFFF url('Images/lgo.sry.gif') no-repeat 284px 8px;
}
.cnt-lft .survey div.hdr{
	background: #FFFFFF url('Images/lgo.sry.gif') no-repeat 547px 8px;
}

.survey div.cnt{
	background-color: #FFFFFF;
}

.survey div.cnt b{
	font-size: 16px;
}

.survey div.cnt div.sry{
	display: block;
	padding: 17px 0px 20px 0px;
	line-height: 22px;
}

.survey div.cnt div.sry input{
	margin-right: 5px;
}

.survey div.cnt table.sry{
	width: 100%;
	margin: 17px 0px 0px 0px;
	border-collapse: collapse;
}

.survey div.cnt table.sry td{
	padding: 3px;
	vertical-align: top;
}

.survey div.cnt table.sry td.ttl{
	width: 100%;
	padding-left: 12px;
}

.survey div.cnt table.sry td.prc{
	text-align: right;
}

.survey div.cnt table.sry td.num{
	padding-left: 20px;
	padding-right: 12px;
	text-align: right;
	color: #949494;
	font-size: 10px;
	font-weight: bold;
}

.survey div.cnt table.sry tr.alt td{
	background-color: #F2F2F2;
}

.survey div.cnt table.sry tr.ttl td{
	padding-top: 6px;
	padding-bottom: 6px;
	border-top: 1px solid #F1F1F1;
}

.survey div.cnt table.sry tr.stt td{
	padding: 6px 12px 17px 12px;
	border-top: 1px solid #F1F1F1;
}

.survey div.cnt table.sry tr.stt span{
	float: left;
}

.survey div.cnt a.btn{
	margin-right: 10px;
}

.survey div.cnt a.lnk{
	float: left;
	font-size: 11px;
	font-weight: bold;
}

/* Header */
/* -------------------------------------------------------- */

#htop{
	position: relative;
	float: left;
	width: 100%;
	overflow: hidden;
	background-color: #FFFFFF;
	border-bottom: 6px solid #CC0000;
	z-index: 0;
}

#htop h2,
#htop h3{
	display: none;
}

#htop li{
	display: inline;
}

/* Logo */

#htop h1{
	display: inline;
	float: left;
	height: 59px;
	margin: 9px 0px 5px 11px;
	overflow: hidden;
}

#htop h1 a{
	float: left;
	height: 34px;
	padding: 25px 0px 0px 97px;
	color: #CA0002;
	font-size: 30px;
	font-weight: bold;
	background: #FFFFFF url('Images/lgo.cnnturk.jpg?ver=008') no-repeat;
}

#htop h1 span{
	display: none;
}

/* Search */

#htop div.src{
	position: absolute;
	display: block;
	float: right;
	top: 41px;
	right: 10px;
}

#htop div.src input{
	float: left;
	width: 435px;
	height: 15px;
	padding: 3px 0px 0px 3px;
	font-size: 11px;
	font-weight: bold;
	border-color: #646464 #D9D9D9 #D9D9D9 #646464;
	border-style: solid;
	border-width: 2px;
	background-color: #FFFFFF;
}

#htop div.src a.btn-src{
	margin: 0px 0px 0px 5px;
}

/* Navigation */

#htop div.nav{
	float: left;
	width: 100%;
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
}

#htop div.nav ul.nav{
	display: inline;
	float: left;
	margin: 0px 0px 0px 9px;
	border-right: 1px solid #DFDFDF;
}

#htop div.nav ul.nav li{
	float: left;
	padding: 1px;
	border-left: 1px solid #DFDFDF;
}

#htop div.nav ul.nav li a,
#htop div.nav ul.nav li a:visited{
	float: left;
	height: 25px;
	padding: 0px 6px 0px 6px;
	font-size: 10px;
	font-weight: bold;
	line-height: 25px;
	color: #CA0002;
	background-color: #FFFFFF;
}

#htop div.nav ul.nav li a:hover,
#htop div.nav ul.nav li a.act,
#htop div.nav ul.nav li a.act:visited{
	color: #FFFFFF;
	background-color: #CA0002;
}

#htop div.nav ul.icn{
	float: right;
	margin-right: -6px;
}

#htop div.nav ul.icn li a,
#htop div.nav ul.icn li a:visited{
	float: left;
	height: 25px;
	padding: 0px 16px 0px 0px;
	font-size: 10px;
	font-weight: bold;
	line-height: 25px;
	color: #CA0002;
}

#htop div.nav ul.icn li a b{
	bottom: -8px;
}

/* Left */

#htop div.lft{
	float: left;
	padding: 0px 7px 0px 7px;
	color: #949494;
	font-weight: bold;
	line-height: 30px;
}

#htop div.lft a,
#htop div.lft a:visited{
	padding: 0px 2px 0px 2px;
	font-size: 11px;
	text-decoration: underline;
}

#htop div.lft a.act,
#htop div.lft a.act:visited{
	color: #CA0002;
	text-decoration: none;
}

#htop div.lft a.bgn{
	color: #CA0002;
}

#htop div.lft a.end,
#htop div.lft a.end:visited{
	font-size: 10px;
	font-weight: normal;
}

/* Right */

#htop div.rgt{
	float: right;
	color: #949494;
	padding: 0px 7px 0px 7px;
	font-weight: bold;
	line-height: 30px;
}

#htop div.rgt a,
#htop div.rgt a:visited{
	padding: 0px 2px 0px 2px;
	font-size: 11px;
}

#htop div.rgt span{
	padding-right: 16px;
}

/* Body */
/* -------------------------------------------------------- */

#body h2{
	display: none;
}

/* Footer */
/* -------------------------------------------------------- */

#fbtm{
	float: left;
	width: 984px;
}

#fbtm h2{
	display: none;
}

/* Navigation */

#fbtm div.nav{
	float: left;
	width: 984px;
	margin: 9px 0px 100px 0px;
	background: #EBEBEB url('Images/bck.btm.btm.gif') no-repeat bottom left;
}

#fbtm div.nav h3{
	clear: left;
	height: 9px;
	overflow: hidden;
	text-indent: -999px;
	background: #EBEBEB url('Images/bck.btm.top.gif') no-repeat top left;
}

#fbtm div.nav div.top{
	padding: 0px 180px 9px 180px;
	font-size: 11px;
	text-align: center;
	line-height: 22px;
	border-bottom: 1px solid #DADADA;
}

#fbtm div.nav div.top a{
	padding: 0px 5px 0px 5px;
	white-space:nowrap;
}

#fbtm div.nav div.btm{
	float: left;
	width: 966px;
	padding: 9px 9px 9px 9px;
	font-size: 10px;
	line-height: 16px;
}

#fbtm div.nav div.btm a{
	padding: 0px 5px 0px 5px;
}

#fbtm div.nav div.btm p.lft{
	float: left;
}

#fbtm div.nav div.btm p.rgt{
	float: right;
}

#fbtm div.nav div.btm p span{
	color: #818181;
}

/* DTC */

#fbtm div.dtc{
	position: relative;
	float: left;
	width: 984px;
	bottom: -140px;
}

#fbtm div.dtc h3{
	display: none;
}

#fbtm div.dtc ul.icn{
	position: absolute;
}

#fbtm div.dtc ul.icn li{
	float: left;
}

#fbtm div.dtc ul.icn a{
	cursor: pointer;
	float: left;
	width: 30px;
	height: 30px;
	margin: 0px 10px 0px 0px;
	overflow: hidden;
	text-indent: -999px;
}

#fbtm div.dtc ul.icn a.dtvh   {
	background: transparent url('Images/lgo.gif') no-repeat 0px 0px; width: 100px; height: 50px;
}

#fbtm div.dtc ul.icn a.kanald {
	background: transparent url('Images/lgo.gif') no-repeat -100px 0px;
}

#fbtm div.dtc ul.icn a.star   {
	background: transparent url('Images/lgo.gif') no-repeat -200px 0px;
}

#fbtm div.dtc ul.icn a.dsmart {
	background: transparent url('Images/lgo.gif') no-repeat -300px 0px; width: 45px;
}

#fbtm div.dtc ul.lst{
	position: absolute;
	margin: 40px 0px 0px 106px;
}

#fbtm div.dtc ul.lst li{
	display: inline;
}

#fbtm div.dtc ul.lst a, #fbtm div.otr ul.lst a:visited{
	position: relative;
	padding: 0px 5px 0px 5px;
	color: #000000;
	font-size: 11px;
}

#fbtm div.dtc ul.lst a:hover{
	color: #CC0000;
}

/* Google */
/* -------------------------------------------------------- */

#goog-wm{

}

#goog-wm li{
	list-style: none;
}

#goog-wm b{
	color: #000000;
}